In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("titanic.csv")

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
data[data["Survived"].isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [9]:
df = data[~data["Survived"].isnull()]

In [10]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
df.duplicated().sum()

np.int64(0)

In [ ]:
def IQR(x):
    q1=x.quantile(0.25)
    q3=x.quantile(0.75)
    iqr=q3-q1
    lf=q1-(1.5*iqr)
    uf=q3+(1.5*iqr)
    print("LF",lf)
    print("UF",uf)

In [ ]:
plt.boxplot(df["employ"])
plt.show()

In [ ]:
IQR(df["employ"])

In [ ]:
df["employ"] = np.where(df["employ"]>25.5,25.5,df["employ"])
df["address"] = np.where(df["address"]>25.5,25.5,df["address"])
df["income"] = np.where(df["income"]>101.5,101.5,df["income"])
df["debtinc"] = np.where(df["debtinc"]>27.812,27.812,df["debtinc"])
df["creddebt"] = np.where(df["creddebt"]>4.20,4.20,df["creddebt"])
df["othdebt"] = np.where(df["othdebt"]>8.24,8.24,df["othdebt"])
df["ed"] = np.where(df["ed"]>3.5,3.5,df["ed"])

In [ ]:
df.columns

In [ ]:
X = df[['age', 'ed', 'employ', 'address', 'income', 'debtinc', 'creddebt',
       'othdebt']]

y = df["default"]

In [ ]:
X_train,X_test,y_train,y_test = tts(X,y,test_size=0.2,random_state=1252)

In [ ]:
log = LogisticRegression()

In [ ]:
log.fit(X_train,y_train)

In [ ]:
print("Train accuracy" , log.score(X_train,y_train))
print("Test accuracy" , log.score(X_test,y_test))

In [ ]:
sample = data[data["default"].isnull()]
sample

In [ ]:
sample.drop(columns = "default",inplace=True)
sample

In [ ]:
sample["pred_y"] = log.predict(sample)
sample

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_train,log.predict(X_train)))

In [ ]:
print(classification_report(y_test,log.predict(X_test)))

In [ ]:
prob_train = pd.DataFrame(log.predict_proba(X_train),columns=["prob_0","prob_1"])
prob_train

In [ ]:
copy = X_train.copy()

In [ ]:
copy["pred_y"] = log.predict(copy)
copy

In [ ]:
copy["mannual_y"] = np.where(prob_train["prob_1"]>0.5,1,0)
copy

In [ ]:
actual = y_train
pre_y = np.where(prob_train["prob_1"]>=0.5,1,0)

In [ ]:
print(classification_report(actual,pre_y))
print("------------------------------------------------------")
print(classification_report(y_train,log.predict(X_train)))

In [ ]:
prob_test = pd.DataFrame(log.predict_proba(X_test),columns=["prob_0","prob_1"])
prob_test

In [ ]:
copy_x = X_test.copy()
copy_x["pred_y"] = log.predict(copy_x)
copy_x

In [ ]:
copy_x["mannual_test"] = np.where(prob_test["prob_1"]>0.5,1,0)
copy_x

In [ ]:
act_test = y_test
pre_tst = np.where(prob_test["prob_1"]>=0.3,1,0)

In [ ]:
print(classification_report(act_test,pre_tst))
print("------------------------------------------------------")
print(classification_report(y_test,log.predict(X_test)))

# Decision Tree Classifier

In [ ]:
df.select_dtypes(object).columns

In [ ]:
bank = pd.get_dummies(df,columns = ['job', 'marital', 'education', 'contact', 'poutcome'], drop_first=True)

In [ ]:
X = bank.drop(columns = ["deposit"])
y = bank["deposit"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
print("train_accu: ",dt.score(X_train,y_train))
print("test_accu: ",dt.score(X_test,y_test))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion="entropy",
                            max_depth=5,
                            min_samples_split=10,
                            random_state=5)
dt.fit(X_train,y_train)
print("train_accu ",dt.score(X_train,y_train))
print("test_accu ",dt.score(X_test,y_test))

In [ ]:
from sklearn.model_selection import GridSearchCV
dt

In [ ]:
para = {"criterion" : ["gini","entropy"],
        "max_depth": [2,4,6,8,10,12,14,15,16],
        "min_samples_split": [40,50,60,70,80,90,100,110,120]}
tre = DecisionTreeClassifier(random_state = 77)
grid  = GridSearchCV(tre,param_grid = para, cv = 5, verbose = 1, n_jobs = -1 )
grid.fit(X_train,y_train)

In [ ]:
dt = DecisionTreeClassifier(criterion = "entropy",
                            max_depth = 14,
                            min_samples_split = 120,
                            min_samples_leaf = 1,
                            random_state = 77)

In [ ]:
dt.fit(X_train,y_train)
print("Train_accu ", dt.score(X_train,y_train))
print("Test_accu ", dt.score(X_test,y_test))

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_train, dt.predict(X_train)))

## Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier    
rm = RandomForestClassifier(random_state = 77)
rm.fit(X_train,y_train)
print("train" , rm.score(X_train,y_train))
print("test" , rm.score(X_test,y_test))

In [ ]:
para = {"criterion" : ["gini","entropy"],
        "max_depth": [10,20,30,40,50,60],
        "min_samples_split": [40,50,60,70,80,90,100,110,120]}
rft = RandomForestClassifier(random_state = 77)
grid  = GridSearchCV(rft,param_grid = para, cv = 5, verbose = 1, n_jobs = -1 )
grid.fit(X_train,y_train)

In [ ]:
rfc = RandomForestClassifier(criterion = "entropy",
                            max_depth = 20,
                            min_samples_split = 50,
                            min_samples_leaf = 1,
                            random_state = 77)

In [ ]:
rfc.fit(X_train,y_train)
print("Train_accu ", dt.score(X_train,y_train))
print("Test_accu ", dt.score(X_test,y_test))

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_train, dt.predict(X_train)))